.main{
    width: 50%;
    margin: auto;
    margin-top: 150px;
}
img{
    width: 7em;
    height: auto;
}
.mfont{
    padding-right: 50px;
    padding-left: 35px;
    font-size: 20px;
}
.navbar-brand{
    color:#1E90FF;
    font-size: 15px;
}
.f1{
    font-size: 20px;
    padding-left: 20px;
}
a{
    font-family: Futara;
    font-size:26px!important;
}
th,td{
    font-family: Futara;
    font-weight: normal;
    text-align: center;
}
.container {
    height: auto;
    background: #F2F2F2;
    border: 0.5px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
                margin-top: 8rem!important;     
  }
  th{
      font-size: 26px;
  }
  td{
      font-size: 20px;
  }
  .display-4{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 25px;
    font-family: Futara;
    font-weight: normal;
  }
  .pic1{
      position: relative;
      top: -6.5rem;
      left: 95rem;
  }

